<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<section class="home-testimonials">
  <div class="page-width">
    <h2>{{ section.settings.title }}</h2>
    <div class="testimonials-flex testimoinals-carousel">
      {% for block in section.blocks %}
      <div class="testimonials-col">
        <div class="qoute-img">
          <img src="https://cdn.shopify.com/s/files/1/0571/5895/9138/files/Vector_28e3f750-46dc-430a-8841-1433a232ff2b.png?v=1649140921">
        </div>
        <div class="testimonials-text">
          <p>{{ block.settings.info |  newline_to_br }}</p>
          <ul class="rating">
            {% assign rate = block.settings.rating %}
            {% for i in (1..rate) %}
            <li><img src="https://cdn.shopify.com/s/files/1/0571/5895/9138/files/star.png?v=1649141066"></li>
            {% endfor %}
          </ul>
          <h5>{{ block.settings.name }}</h5>
          <h6>{{ block.settings.post }}</h6>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<script type="text/javascript">
  $(document).ready(function(){
  $('.testimoinals-carousel').slick({
    speed: 500,
    slidesToShow: 3,
    slidesToScroll: 1,
    autoplay: true,
    autoplaySpeed: 2000,
    dots:true,
    navs:false,
    centerMode: true,
    responsive: [{
      breakpoint: 1024,
      settings: {
        slidesToShow: 3,
        slidesToScroll: 1,
        // centerMode: true,

      }

    }, {
      breakpoint: 800,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 2,
        dots: true,
        infinite: true,

      }
    },  {
      breakpoint: 480,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1,
        dots: true,
        infinite: true,
        autoplay: true,
        autoplaySpeed: 2000,
      }
    }]
  });
});
</script>

{% schema %}
{
"name": "Testimonial",
"settings": [
{
"type": "text",
"id": "title",
"label": "Heading"
}
],
"blocks":[
{
"name" : "testimonial",
"type" : "testimonial",
"settings" :
[
{
"type" : "textarea",
"id" : "info",
"label" : "description"
},
{
"type" : "text",
"id" : "name",
"label" : "Name"
},
{
"type" : "text",
"id" : "post",
"label" : "post"
},
{
"type" : "range",
"id" : "rating",
"label" : "Rating",
"min" : 0,
"max" : 5,
"step" : 1,
"default" : 5 
}
]
}
],
"presets" :
[
{
"name" : "testimonial",
"category" : "Custom Sections"
}  
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

