<div class="product-description-wrapper">
    <div class="product-description">

        <div class="page-width">
            <ul class="tabs">
                <li class="tab-link current" data-tab="tab-1">Details</li>
                <li class="tab-link" data-tab="tab-2">Reviews</li>
            </ul>
        </div>

        
        <div id="tab-1" class="tab-content current">
            <div class="page-width">                
                {{ product.description }}
            </div>
        </div>
        <div id="tab-2" class="tab-content">
            <div class="page-width">
                <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
            </div>            
        </div>
    </div>
</div>

{% schema %}
{
    "name" : "Product Tabbing",
   "settings": [
   ]
   
}
{% endschema %}