@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'Bembo Std';
    src: url('BemboStd.woff2') format('woff2'),
        url('BemboStd.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bembo Std';
    src: url('BemboStd-Bold.woff2') format('woff2'),
        url('BemboStd-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


body{
  font-family: 'Raleway', sans-serif;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner__box {
    max-width: 520px !important;
}

.banner__text.subtitle span {
    font-size: 30px;
    font-family: var(--font-heading-family);
}

.header__menu-item span {
    font-size: 14px;
    color: #000000;
    text-transform: uppercase;
    font-weight: 500;
}
.button {
    background-color: #F66B54;
    font-weight: 600;
}

.banner__text.subtitle {
    margin-top: 0px;
    margin-bottom: 20px;
}
.header__menu-item:hover .header__active-menu-item {
    text-decoration-thickness: 0px;
}
.header__active-menu-item,
.header__menu-item:hover span {
    text-decoration-thickness: 0px;
    text-decoration: none;
}

.list-menu li a {
    margin-right: 15px;
}

.list-menu li:last-child a {
    margin-right: 0px;
}
.about-immune-5 {
    padding: 60px 0px;
}

.about-immune-flex {
    display: flex;
    align-items: center;
}

.about-immune-text {
    width: 55%;
    padding: 70px 40px;
    background: #FFFFFF;
    box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.06);
    position: relative;
    padding-right: 20px;
}

.about-immune-img {
    width: 45%;
    text-align: center;
    background: linear-gradient(301.73deg, #DFE8EF 8.25%, #EDF3F8 90.34%);
    height: 480px;
    display: flex;
    padding: 60px;
}

.about-immune-img img {
    margin: auto;
}

.about-immune-text p {
    margin-bottom: 25px;
    color: #7C7C7C;
    font-size: 15px;
}

.about-immune-text::before {
    content: '';
    position: absolute;
    right: -60px;
    top: 0px;
    bottom: 0px;
    width: 60px;
    background-color: #fff;
}
.about-immune-text h2 {
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 20px;
}
.immune-properties {
    padding: 0px 0px 60px;
}

.immune-properties-flex {
    display: flex;
    justify-content: space-between;
}

.immune-properties-col {
    width: 25%;
    text-align: center;
    padding: 40px 15px;
}

.immune-properties-img {
    min-height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.immune-properties-text h5 {
    margin: 0px 0px 20px;
    color: #000000;
    font-size: 20px;
}

.immune-properties-text p {
    color: #7C7C7C;
    font-size: 14px;
    margin: 0px;
}

.immune-properties-col:hover img {filter: invert(56%) sepia(78%) saturate(1300%) hue-rotate(322deg) brightness(93%) contrast(108%);}

.immune-properties-col:hover {
    background: #FFFFFF;
    box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.06);
}
.home-testimonials h2 {
    text-align: center;
    margin: 0;
    color: #000000;
    letter-spacing: 0px;
    margin-bottom: 30px;
    font-size: 30px;
}

.home-testimonials {
    padding: 60px 0px;
}

.testimonials-flex {
    display: flex;
    justify-content: space-between;
}

.testimonials-col {
    width: 32%;
    background-color: #F8F8F8;
    padding: 25px;
}

.testimonials-text p {
    color: #505050;
    font-size: 16px;
    letter-spacing: 0px;
    font-style: italic;
    font-weight: 500;
    min-height: 160px;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

ul.rating {
    display: flex;
}

.testimonials-text h5 {
    margin: 0 0px 5px;
    font-size: 20px;
    color: #000000;
    letter-spacing: 0px;
}

.testimonials-text h6 {
    margin: 0;
    color: #505050;
    font-weight: 500;
    font-size: 12px;
}

.testimonials-col:hover {
    background-color: #F66B54;
}

.testimonials-col:hover .qoute-img img {
    filter: invert(50%) sepia(97%) saturate(820%) hue-rotate(324deg) brightness(120%) contrast(100%);
}

.testimonials-col:hover .testimonials-text p {
    color: #FFFFFF;
}

.testimonials-col:hover .rating li img {
    filter: brightness(0) invert(1);
}

.testimonials-col:hover h5 {
    color: #fff;
}

.testimonials-col:hover h6 {
    color: #fff;
}
.banner__content.banner__content--middle-center {
    justify-content: flex-end !important;
    max-width: 100%;
}

.banner__content.banner__content--middle-center h2.banner__heading.h1 {
    color: #000;
}

.banner__content.banner__content--middle-center .banner__text.body {
    color: #000;
    letter-spacing: 0px;
    font-weight: 400;
}

.banner__content.banner__content--middle-center::before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.73) 0%, rgba(196, 196, 196, 0) 100%);
}
.about-immune-text h2 {
    text-transform: capitalize;
}
.about-immune-5.newsletter-sec .about-immune-text:before {
    display: none;
}

.about-immune-5.newsletter-sec .about-immune-text {
    box-shadow: none;
    width: 50%;
}

section.about-immune-5.newsletter-sec .about-immune-text p {
    color: #000000;
    letter-spacing: 0px;
    max-width: 500px;
}

.newsletter-subscribe {
    display: flex;
    background-color: #F5F5F5;
    max-width: 460px;
    justify-content: space-between;
}

section.about-immune-5.newsletter-sec .about-immune-img {
    width: 50%;
}

.input-container {
    width: 70%;
}

.input-container input {
    width: 100%;
    border: 0px !important;
    background-color: transparent;
    padding: 17px 20px;
    color: #898989;
    outline: 0px;
    box-shadow: none;
}

.newsletter-subscribe input[type="submit"] {
    width: 30%;
    background-color: #F66B54;
    border: 0px;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    font-family: 'Raleway';
    text-align: center;
    cursor:pointer;
}
.input-container input::placeholder {
    color: #898989;
    font-weight: 400;
}
.footer {
    background-color: #F8F8F8;
}
.footer {
    background-color: #F8F8F8;
}

.footer-top-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-social-icons ul {
    display: flex;
}

.footer-social-icons ul li a {
    width: 32px;
    height: 32px;
    border: 1px solid #C9C9C9;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px;
    border-radius: 50%;
    margin-right: 10px;
}

.footer-social-icons ul li a svg path {
    fill: #C9C9C9;
}

.footer-social-icons ul li a:hover {
    background-color: #F66B54;
    border: 1px solid transparent;
}

.footer-social-icons ul li a:hover svg path {
    fill: #FFFFFF;
}

.footer-top {
    padding: 40px 0px;
}

.footer-middle {
    border-top: 1px solid #E7E7E7;
    border-bottom: 1px solid #E7E7E7;
    padding: 25px 0px;
}

p.footer-description {
    margin: 0 0px 30px;
    color: #808080;
    font-size: 15px;
}

.footer-middle-flex {
    display: flex;
    justify-content: space-between;
}

.footer-contact-info h6 {
    margin: 0 0px 5px;
    color: #000000;
    font-size: 14px;
}

.footer-contact-info span {
    max-width: 350px;
    display: inline-block;
    color: #808080;
    font-size: 14px;
}

.footer-contact-info a {
    color: #808080;
    text-decoration: none;
}

.footer-bottom p {
    color: #808080;
    margin: 0;
    font-size: 14px;
}

.footer-bottom {
    padding: 10px 0px;
}
.button:not([disabled]):hover:after, .shopify-challenge__button:hover:after, .customer button:hover:after, .shopify-payment-button__button--unbranded:hover:after {
    --border-offset: 0;
}
.button:hover {
    border: 1px solid #f66b54;
    background-color: #fff;
    color: #f66b54;
}

.button {
    border: 1px solid transparent;
    transition: 0.4s all;
}

.header-wrapper.color-background-1.gradient{
    background-color: #f7f7f7;
}

.Container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.page-banner {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.page-banner-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-family: 'Bembo Std';
}

.contact-details {
    padding: 75px 0;
}

.contact-details-wrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.detail-col {
    width: 27%;
    background: #EDF3F8;
    text-align: center;
    padding: 30px 20px;
    margin: 20px;
    min-height: 150px;
    box-shadow: 0px 17px 26px 4px rgba(134, 134, 134, 0.06);
}

.detail-col svg {
    height: 35px;
    width: 35px;
}

.detail-col h5 {
    font-size: 24px;
    margin-bottom: 0;
    margin-top: 10px;
    font-family: 'Bembo Std';
}

.detail-col p, .detail-col a {
    font-size: 14px;
    color: #000;
    font-weight: 600;
}
.detail-col a {
   text-decoration: none;
}
.contact-form-wrapper {
    display: flex;
    padding-right: 0;
    align-items: center;
    padding-bottom: 75px;
}

.contact__button .button {
    text-transform: uppercase;
}

.form-wrapper {
    background-color: #ffffff;
    box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.06);
    padding: 0 30px;
    margin-left: -70px;
}

.image-wrapper img {
    display: block;
}

.form-wrapper h2.title {
    margin-bottom: 1rem;
}

.contact__button {
    margin-top: 1rem;
    text-align: right;
}

.field::after {
    box-shadow: 0px 0px 5px 1px rgb(237 237 237);
}

.card__inner {
    background-color: #F3F3F3;
}

.card-wrapper {
    margin: 8px;
}

.card-information {
    text-align: center;
    padding-bottom: 0;
}

.price .price__regular {
    color: #F66B54;
}

.card__content .card__heading {
    font-size: 20px
    ;margin-bottom: 5px;
    font-family: 'Bembo Std';
    text-align: center;
}

.card-wrapper .price {
    text-align: center;
}

.page-width 
{
    max-width: 1300px;
}

.card__media .media img{
    padding : 75px;
    object-fit: contain !important;
}

.load-more{
    text-align: center;
    cursor: pointer;
}

.load-more__btn{
    color: #fff;
    text-transform: capitalize;
}

.load-more__spinner {
    height: 35px;
    width: 35px;
    border: 5px solid #f8f8f8;
    border-radius: 50%;
    border-top:5px solid #80aaca;
    margin: 0 auto;
    animation: spin 2s linear infinite;
}

.load-more a:not([href]) {
    cursor: pointer;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.media>*:not(.zoom):not(.deferred-media__poster-button), .media model-viewer {
    padding: 0 100px;
    object-fit: contain;
    background: #f7f7f7;
}

.slider__slide {
    background-color: #F3F3F3;
}

.slider__slide button img {
    padding: 35px;

}

.product__title {
    font-family: 'Bembo Std';
}

.price__regular .price-item--regular {
    font-family: 'Raleway';
    font-weight: 600;
}

.shopify-payment-button__button.shopify-payment-button__button--unbranded {
    background: #4A87B5 !important;
}

.shopify-payment-button__button.shopify-payment-button__button--unbranded:hover {
    background: transparent !important;
    border: 1px solid #4A87B5;
    color: #4A87B5;
}

product-form.product-form button {
    text-transform: capitalize;
}

.product-form .product-form__submit {
    color: #ffffff;
}

.product-form .product-form__submit:hover {
    color: #F66B54;
}

@media screen and (min-width: 990px){
    .product--medium .thumbnail-list {
         grid-template-columns: repeat(3,1fr) !important;
    }
}